

  <div class="my-5 d-flex flex-md-row flex-column" style="width: 100%">

    <div class="col-md-6 mx-auto my-auto"  id="imgId">
      <img src="{{productoE.image}}" class="card-img-top img-fluid" alt="{{productoE.title}}">
    </div>

    <div class="col-md-6" style="max-height: 700px;" id="divcardId">

      <div class="card-body d-flex flex-column m-3" id="cardId">

        <h4 class="card-title mb-4 fw-bolder">{{productoE.title}}</h4>

          <p class="card-text">{{productoE.description}}</p>

        <h1>${{productoE.price}}</h1>

        <h6 class="fs-5"><b>Rating:</b> {{productoE.rating.rate}}</h6>

        <div class="flex-row">
          <div class="d-flex justify-content-center mt-4">

            <button class="btn mx-2 back" (click)="comprar('Su compra se ha realizado con éxito','OK!!!')">Comprar</button>

            <button class="btn btn-success p-1 mx-2" [routerLink]="['/store/category', productoE.category]">{{productoE.category}}</button>

          </div>

          <div class="d-flex flex-row justify-content-center mt-4 align-items-center">

            <i class="fa-solid fa-cart-shopping fa-xl fa-fw"></i>

            <button class="btn carritoAdd mx-2" (click)="agregarCart(-1, productoE)">-</button>

            <span class="d-flex align-items-center">{{productoE.quantity}}</span>

            <button class="btn carritoAdd mx-2" (click)="agregarCart(+1, productoE)">+</button>
          </div>

        </div>


      </div>

    </div>

  </div>

