<nav class="d-flex flex-wrap navbar navbar-expand-md p-1" id="nav">

    <div class="container-fluid">

        <img id="navLogo" class="img-fluid" src="assets/logo.png">

      <div class="position-absolute start-50 translate-middle-x">

        <ul class="navbar-nav d-sm-flex flex-row text-wrap">
          <li class="nav-item mx-3 fw-medium fs-4" id="Plink">
            <a class="nav-link link-dark" [routerLink]="['/store/home']">Home</a>
          </li>

          <li class="nav-item mx-3 fw-medium fs-4" id="Plink">
            <a class="nav-link link-dark" [routerLink]="['/store/list']">Products</a>
          </li>

          <li class="nav-item mx-3 fw-medium fs-4" id="Plink">
            <a class="nav-link link-dark" [routerLink]="['/store/contact']">Contact</a>
          </li>

          <li class="nav-item mx-3 fw-medium fs-4" id="Plink">
            <a class="nav-link link-dark" [routerLink]="['/store/cart']">Cart</a>
          </li>
        </ul>

      </div>

      <div>

        <div *ngIf="!user" id="btnsNav" class="d-lg-flex justify-content-center align-items-center my-1">
          <button type="button" class="btn btn-outline-dark btn-sm" id="btnLogin" [routerLink]="['/auth/login']">Login</button>

          <button type="button" class="btn btn-outline-dark btn-sm" id="btnRegister" [routerLink]="['/auth/register']">Register</button>
        </div>

        <div *ngIf="user" class="d-flex justify-content-center align-items-center justify-content-between">
          <span class="fs-6 fw-semibold me-2" id="welcomeUser">Bienvenido {{user}}</span>

          <button type="button" class="btn btn-outline-dark btn-sm" id="btnLogout" (click)="logout()">Logout</button>
        </div>

      </div>

    </div>
  </nav>

  <nav class="d-flex navbar navbar-expand-lg flex-wrap text-center bg-success" id="cnav">

    <div class="mx-auto">

      <span class="btn btn-success mx-5-lg"
      *ngFor="let item of categories"
      [routerLink]="['/store/category/', item]">
      {{item | titlecase}}
      </span>

    </div>

  </nav>

  <router-outlet></router-outlet>

<app-footer></app-footer>

<div *ngIf="cartAlert" class="alert alert-danger alert-dismissible fade show fixed-bottom mx-auto mt-3 alerta" role="alert">
  <strong>Si no estas registrado,</strong> no puedes ir al carrito.
  <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closeAlert()"></button>
</div>
